# 建立一個本機端 SQLite 資料庫

## 郭耀仁

## 大綱

- 簡介 SQLite 資料庫
- 下載範例表格
- 使用 Python 創建
- 使用 R 創建

## 簡介 SQLite 資料庫

## SQLite 是一個輕量化的 RDBMS

- 以 C 語言實踐
- 輕巧、快速、自我包含且功能完整
- 跨平台作業系統

## 所謂的自我包含（self-contained）指的是

SQLite 將整個資料庫包裝為一個單獨、可跨平台使用的**檔案**。

## 大量程式語言提供 SQLite 連結

- C/C++
- Python
- R
- PHP
- Ruby on Rails
- Java
- ...etc.

## 下載範例表格

## 我們準備了範例表格來練習創建與查詢

- [mayors.csv](https://s3-ap-northeast-1.amazonaws.com/sqlite-demo-data/mayors.csv)
- [gapminder.csv](https://s3-ap-northeast-1.amazonaws.com/sqlite-demo-data/gapminder.csv)

## 在 Python 中看看這兩個表格

## 如何啟動 Jupyter Notebook

- 開始功能表 -> Anaconda3 -> Jupyter Notebook -> New -> Python 3
- 開始功能表 -> Anaconda3 -> Anaconda Prompt -> 在指定路徑輸入 `jupyter notebook` 指令 -> New -> Python 3

In [1]:
import pandas as pd

mayors = pd.read_csv("https://s3-ap-northeast-1.amazonaws.com/sqlite-demo-data/mayors.csv")
gapminder = pd.read_csv("https://s3-ap-northeast-1.amazonaws.com/sqlite-demo-data/gapminder.csv")

In [2]:
mayors.head()

  admin_area district village  office  number party candidate  votes
0        台北市      北投區     建民里       1       1   無黨籍       吳蕚洋      4
1        台北市      北投區     建民里       2       1   無黨籍       吳蕚洋      2
2        台北市      北投區     建民里       3       1   無黨籍       吳蕚洋      2
3        台北市      北投區     文林里       4       1   無黨籍       吳蕚洋      1
4        台北市      北投區     文林里       5       1   無黨籍       吳蕚洋      5

In [3]:
gapminder.head()

       country continent  year  lifeExp       pop   gdpPercap
0  Afghanistan      Asia  1952   28.801   8425333  779.445314
1  Afghanistan      Asia  1957   30.332   9240934  820.853030
2  Afghanistan      Asia  1962   31.997  10267083  853.100710
3  Afghanistan      Asia  1967   34.020  11537966  836.197138
4  Afghanistan      Asia  1972   36.088  13079460  739.981106

## 如何關閉 Jupyter Notebook

在終端機（Anaconda Prompt）視窗按兩次 Ctrl - C

## 在 R 中看看這兩個表格

```r
# install.packages("readr")
library(readr)

mayors <- read_csv("https://s3-ap-northeast-1.amazonaws.com/sqlite-demo-data/mayors.csv")
gapminder <- read_csv("https://s3-ap-northeast-1.amazonaws.com/sqlite-demo-data/gapminder.csv")
head(mayors)
head(gapminder)
```

## 使用 Python 創建

## 以 `sqlite3` 建立連線

In [4]:
import sqlite3
conn = sqlite3.connect('demo.db')

## 以 `pandas` 建立表格

In [5]:
import pandas as pd

gapminder.to_sql("gapminder", conn, if_exists="replace")
mayors.to_sql("mayors", conn, if_exists="replace")

## 以 `pandas` 查詢表格

In [6]:
query_str = """
    SELECT continent,
           SUM(pop) AS sum_pop
        FROM gapminder
        GROUP BY continent;
"""
pd.read_sql_query(query_str, conn)

  continent      sum_pop
0    Africa   6187585961
1  Americas   7351438499
2      Asia  30507333901
3    Europe   6181115304
4   Oceania    212992136

In [7]:
query_str = """
    SELECT candidate,
           SUM(votes) AS sum_votes
        FROM mayors
        WHERE admin_area = '台北市'
        GROUP BY candidate;
"""
pd.read_sql_query(query_str, conn)

  candidate  sum_votes
0       丁守中     577566
1       吳蕚洋       5617
2       姚文智     244641
3       李錫錕       6172
4       柯文哲     580820

## 使用 R 創建

## 以 `RSQLite` 建立連線

```r
# install.packages("RSQLite")
library(DBI)

conn <- dbConnect(RSQLite::SQLite(), "demo.db")
```

## 以 `DBI::dbWriteTable()` 建立表格

```r
dbWriteTable(conn, "gapminder", gapminder)
dbWriteTable(conn, "mayors", mayors)
```

## 以 `DBI::dbListTables()` 列出資料庫中的表格

```r
dbListTables(conn)
```

## 以 `DBI::dbSendQuery()` 查詢表格

```r
query_str <- "
    SELECT continent,
           SUM(pop) AS sum_pop
        FROM gapminder
        GROUP BY continent;
"
dbGetQuery(conn, query_str)
```

## 以 `DBI::dbSendQuery()` 查詢表格

```r
query_str <- "
    SELECT candidate,
           SUM(votes) AS sum_votes
        FROM mayors
        WHERE admin_area = '台北市'
        GROUP BY candidate;
"
dbGetQuery(conn, query_str)
```